.main {
  padding: 1rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  .card {
    display: grid;
    grid-template-rows: 80% auto;
    align-items: baseline;
    border: 1px solid $divider-color;
    height: 100%;
    background-color: #fafafa;
    box-shadow: 0.1rem 0.1rem 0.1rem #ccc;
    border-radius: 0.5rem;

    h1,h2,h3,h4,h5,h6 {
      margin: 0;
    }
    &:hover .title {
      background-color: #ddd;
    }

    .image {
      height: 100%;
      padding: 1rem;
      align-self: end;
      justify-self: center;
      img {
      }
    }

    .title {
      border-top: 1px solid $divider-color;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      padding: 0 0.5rem 0.5rem;
    }

  }
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}