.main {
  padding: 1rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

  .card {
    border: 1px solid $divider-color;
    height: 100%;
    &:hover .title {
      background-color: #eee;
    }
    .image {
      padding: 0.5rem;
    }

    .title {
      border-top: 1px solid $divider-color;
      padding: 0.5rem;
    }

  }
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}