{{ define "main" }}
{{ $type := $.Site.Data.week.type }}
{{ $links := $.Site.Data.week.classes }}
<main class="main">
  <h2>Meetings for {{ dateFormat "Monday, Jan 2, 2006" $.Site.Data.week.date }}</h2>
  <div class="cards">
    {{ range where $.Site.Data.meetings ".type" "in" (slice $type "all") }}
    <a href="{{ index $links .id }}">
      <div class="card">
        <div class="image">
          <img src="{{ .image }}" alt="{{ .name }}">
        </div>
        <div class="title"><h4>{{ .name }}</h4></div>
      </div>
    </a>
    {{ end }}
  </div>
</main>
{{ end }}