{{- define "main" -}}
<main class="main">
  <section class="announcements">
    {{.Content}}
  </section>
  {{- range $week := $.Site.Data.week -}}
  <section class="dateSection">
    <h2>Meetings for {{ dateFormat "Monday, Jan 2, 2006" .date }}</h2>
    <div class="cards">
      {{ range $id, $link := .classes }}
      {{ $currentMeeting := index $.Site.Data.meetings $id }}
      {{ if in (slice $week.type "all") $currentMeeting.type }}
      <a href="{{ $link }}">
        <div class="card">
          <div class="image">
            <img src="{{ $currentMeeting.image }}" alt="{{ $currentMeeting.name }}">
          </div>
          <div class="title"><h4>{{ $currentMeeting.name }} ({{ $currentMeeting.time }})</h4></div>
        </div>
      </a>
      {{- end -}}
      {{- end -}}
    </div>
  </section>
{{- end -}}
</main>
{{- end -}}