{{- $inServerMode := .Site.IsServer -}}
{{- $sass         := resources.Get "scss/style.scss" -}}
{{- $sassIncludes := (slice  ) -}}
{{- $cssTarget    := "css/styles.css" -}}
{{- $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true "includePaths" $sassIncludes) (dict "targetPath" $cssTarget "outputStyle" "compressed" "includePaths" $sassIncludes) -}}

{{- $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts -}}
{{- if or ($inServerMode) (eq .Site.Params.env "LOCAL") -}}
<link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">

{{- else -}}

{{- $secureCss := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts | resources.PostCSS | fingerprint -}}
<link rel="stylesheet" href="{{ $secureCss.Permalink | absURL }}" integrity="{{ $secureCss.Data.Integrity }}"
      media="screen">

{{- end -}}
